includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        # Ibexa Platform

        - "#Casting to int something that's already int.#"

        # Disable errors about missing value types in various vendor classes

        - '#no value type specified in iterable type Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Search\\SearchResult#'
