includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        # eZ Platform

        - "#Casting to int something that's already int.#"

        # Disable errors about missing value types in various vendor classes

        - '#Method .+Listener::getSubscribedEvents\(\) return type has no value type specified in iterable type array.#'
        - '#no value type specified in iterable type eZ\\Publish\\API\\Repository\\Values\\Content\\Search\\SearchResult#'
